* {
  margin: 0;
  padding: 0;
}

:root {
  --main-backgroud: #000000;
  --main-color: #f6f6f6;
  --main-details: #22d4fd;
  --main-hover: #272727;

  --primary-font: 'Krona One', sans-serif;
  --secundary-font: 'Montserrat', sans-serif;
}

body {
  background-color: var(--main-backgroud);
  box-sizing: border-box;
  color: var(--main-color);
}

.header {
  padding: 2% 0 0 15%;
}

.navigation {
  display: flex;
  gap: 5rem;
}

.navMenu {
  font-family: var(--secundary-font);
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-details);
  text-decoration: none;
}

.titleDetach {
  color: var(--main-details);
}

.content {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.title {
  font-family: var(--primary-font);
  font-size: 2.25rem;
}

.text {
  font-family: var(--secundary-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
}

.collum1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.buttonClick img {
  align-items: start;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.buttonApresentation {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-weight: 400;
}

.buttonClick {
  font-family: var(--secundary-font);
  background-color: var(--main-backgroud);
  border: 0.125rem solid var(--main-details);
  width: 50%;
  padding: 1rem 0;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttonClick:hover {
  background-color: var(--main-hover);
  transform: scale(1.1);
  transition: all 1s;
}

.myPhoto {
  width: 40%;
}

.footer {
  background-color: var(--main-details);
  color: var(--main-backgroud);
  padding: 1.5rem;
  text-align: center;
  font-family: var(--secundary-font);
  font-size: 1.5rem;
  font-weight: 400;
}

/* MAIN CURRICULUM */

.curriculum {
  font-family: var(--primary-font);
  font-size: 2.25rem;
  padding: 22% 0;
  text-align: center;
}

@media (max-width: 1300px) {
  .header {
    padding: 5% 5%;
  }
  .navigation {
    justify-content: center;
    gap: 4rem;
  }
  .content {
    padding: 5% 5% 10% 5%;
    flex-direction: column-reverse;
  }
  .collum1 {
    width: auto;
  }
  .curriculum {
    padding: 89% 5%;
    font-size: 1.25rem;
  }
  .myPhoto {
    width: 80%;
  }
}
